Disclaimer ⚠: Everything you read and see now is *true and I made it **by myself***

# Hello 👋
---
## Who i am, My skills

My name is *Alexey Bodnarchuk*. I am a boy from Irpin, Ukraine, that is interested in IT 🐱‍💻, Math 📐 and Physics 🍎
I am a young Frontend-er (***{{age}} years old***), I learn and use different technologies: 

Technology|Level
----------|-----
{{skills}} 

I solve problems in C++. I know how to work in Photoshop, Corel Draw. I use Git and GitHub in my work.
I understand math and physics. I can speak English very well (***{{engLevel}}*** level).

### Math and physics

I can solve math problems of 8th grade level.
Also separately I learned topology (2nd grade of university) and linear algebra (1st grade of university).
What about physics - I can solve physical problems of 7th grade level, and also I learned DC circuits (additional chapters of physics, 8th grade).

## Experience and projects

I have no commercial experience, but I have many pet-projects, and gained HUGE expirience making them.

My projects:

Project|URL|Description
-------|---|-----------
{{projects}}

**All projects are open-source. Issues and contributions welcomed!**
P.S. All experiments with code only in *YOUR OWN BRANCH*

## Languages

I can speak several languages:

Language|Level
--------|-----
{{languages}}

## Contacts

Type|Contact
----|-------
Telegram📯|@Alexe1900
Email✉|alexejbodnarchuk@gmail.com
Youtube channel|https://www.youtube.com/channel/UCAxnOpuF9i3GxZAAVbp2_yQ

## Public talks

1. 🎧 [Public interview in Metarhia community](https://youtu.be/_g9bjgicmDI)
  - Interviewer: Timur Shemsedinov https://github.com/tshemsedinov
  - Topics: JavaScript, collection, complexity, async, node.js, patterns
  - Grade: middle fullstack engineer
2. 🎧 [Introduction for Metarhia community](https://youtu.be/6FcibfEMmFE)
